{% extends 'base.html.twig' %}

{% block title %}ImageProduct index{% endblock %}

{% block body %}
    <h1>ImageProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_product in image_products %}
            <tr>
                <td>{{ image_product.id }}</td>
                <td>{{ image_product.picture }}</td>
                <td>{{ image_product.updatedAt ? image_product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_dashboard_image_product_show', {'id': image_product.id}) }}">show</a>
                    <a href="{{ path('app_dashboard_image_product_edit', {'id': image_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_image_product_new') }}">Create new</a>
{% endblock %}
