 <!-- ======= Footer ======= -->
  <footer id="footer" >

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Newsletter</h4>
            <p>Pour être informé de toutes nos offres et actualités, abonnez-vous à notre Newsletter</p>
          </div>
          <div class="col-lg-6">
            <form action="/subscriber-newsletters" method="post" name="form_newsletter">
              <input type="email" name="email"><input type="submit" value="Abonnez-vous">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top" data-aos="fade-up">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_home') }}">GP-SEC</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos de nous</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_service') }}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Produits</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_news') }}">Actualités</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_contact_us') }}">Contactez-nous</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_login') }}">Admin</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Produits & Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Imprimantes</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Logiciels</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Consommables</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Equipements de sécurité</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactez-vous</h4>
            <p>
              1454, Avenue Colonel Ebeya <br>
              1er niveau, Immeuble Pacha,entrée A<br>
              Kinshasa - RDC <br><br>
              <strong>Téléphone:</strong> +243 895 666 413<br>
              <strong>Email:</strong> administration@gp-sec.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>A propos du GP-SEC</h3>
            <p class="justify-text"><b>GP-SEC</b>, entreprise d’intégration des solutions informatiques de droit congolais intervenant dans le domaine de la nouvelle technologie de l’information et de la télécommunication, depuis plus de 15 ans </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://web.facebook.com/secrdc" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com/showcase/sec-rdc/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>GP-SEC</span></strong>. Tous les droits réservés
      </div>
      <div class="credits">Designed by <a href="https://enywork.com/" target="_blank">ENYWORK</a>
      </div>
    </div>
  </footer><!-- End Footer -->