{% extends 'base.html.twig' %}

{% block title %}About index{% endblock %}

{% block body %}
    <h1>About index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstPicture</th>
                <th>SecondPicture</th>
                <th>Firsttext</th>
                <th>SecondText</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for about in abouts %}
            <tr>
                <td>{{ about.id }}</td>
                <td>{{ about.firstPicture }}</td>
                <td>{{ about.secondPicture }}</td>
                <td>{{ about.firsttext }}</td>
                <td>{{ about.secondText }}</td>
                <td>{{ about.updatedAt ? about.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_dashboard_about_show', {'id': about.id}) }}">show</a>
                    <a href="{{ path('app_dashboard_about_edit', {'id': about.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_about_new') }}">Create new</a>
{% endblock %}
