<!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Actualités</h2>
          <p>Nos dernières actualités</p>
        </div>

        <div class="row gy-4">
            
            {% for news in data.news %}
                <div class="col-xl-4 col-md-6">
                    <article>

                    <div class="post-img">
                        <img src="{{ asset('media/pictures/'~news.picture) }}" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">{{news.category.name}}</p>

                    <h2 class="title">
                        <a href="blog-details.html">{{news.name}}</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <img src="assets/img/apple-touch-icon.png" alt="" class="img-fluid post-author-img flex-shrink-0">
                        <div class="post-meta">
                        <p class="post-author">Admin</p>
                        <p class="post-date">
                            <time datetime="2022-01-01">{{ news.publiedAt|date('d/m/Y H:i') }}</time>
                        </p>
                        </div>
                    </div>

                    </article>
                </div>                
            {% endfor %}

        </div><!-- End recent posts list -->

        <div class="u-center-text u-margin-top-small">
             <a href="{{ path('app_news') }}" class="btn btn--red btn-get-started " data-aos="fade-up" >Voir plus &rarr;</a>
        </div>
      </div>
    </section><!-- End Recent Blog Posts Section -->