  <!-- ======= Portfolio Section ======= -->
 <section id="products" class="portfolio">
      <div class="container">

        <div class="section-title">
         <h2>Produits les plus commandés</h2>
            <p></p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tous</li>
              <li  data-filter=".filter-printer"  >Produits Evolis</li>
              <li  data-filter=".filter-printer-hp"  >Imprimantes HP</li>
              <li data-filter=".filter-access">Côntrole d'accès</li>
              <li data-filter=".filter-serrure">Serrure des portes</li>
              <li data-filter=".filter-camera">Télephonie & Camera IP</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for product in data.products %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-printer" style="box-shadow: none!important;border-bottom: 1px solid #d0d1d8;border-top: 1px solid #d0d1d8;margin-left: 10px;border-radius: 8px;">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('profiles/'~product.picture) }}" class="img-fluid" alt="{{ product.name }}">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>{{ product.name }}</h4>
                    <p style="font-size: 10px; text-align: center;">{{ product.smalldescription}}</p>
                      <a href="{{ asset('profiles/'~product.picture) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                <h1 style="font-size: 25px; text-align: center;"><small><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a></small></h1>
                <p style="font-size: 12px; text-align: center;"><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.smalldescription }}</a></p>
              </div>  
              {% else %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Primacy 2</h4>
                <p>Imprimantes Evolis</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>          

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/16.jfif" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Edikio</h4>
                <p>Imprimante Evolis</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/16.jfif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/19.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/19.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/20.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Capteur signatures</h4>
                <p>Evolis</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/20.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/21.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card Presso</h4>
                <p>Evolis</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/21.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/22.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Printronix</h4>
                <p>&nbsp;</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/22.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-camera">
            <div class="portfolio-wrap">
              <img src="assets/img/products/7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/17.jfif" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Edikio</h4>
                <p>Imprimante Evolis</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/17.jfif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
            <div class="portfolio-wrap">
              <img src="assets/img/products/8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Imprimantes Evolis</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-camera">
            <div class="portfolio-wrap">
              <img src="assets/img/products/9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/products/18.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fargo</h4>
                <p>Imprimantes</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/18.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-printer-hp">
            <div class="portfolio-wrap">
              <img src="assets/img/products/11.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Imprimante HP LaserJet Pro</h4>
                <p>Imprimante HP</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/11.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-serrure">
            <div class="portfolio-wrap">
              <img src="assets/img/products/12.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Serrure Magnétique</h4>
                <p>Serrure</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/12.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-camera">
            <div class="portfolio-wrap">
              <img src="assets/img/products/13.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Camera – IP Felixcctv</h4>
                <p>Camera IP</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/13.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-access">
            <div class="portfolio-wrap">
              <img src="assets/img/products/14.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Controle d’accès « Suprema BioStation »</h4>
                <p>Côntrole d'accès</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/14.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-nvr">
            <div class="portfolio-wrap">
              <img src="assets/img/products/15.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>NVR pour Camera (H.265 4K – Felix cctv)</h4>
                <p>Côntrole d'accès</p>
                <div class="portfolio-links">
                  <a href="assets/img/products/15.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
              </div>
            </div>
          </div>  
          {% endfor %}
           
        </div>
      <div class="u-center-text u-margin-top-small">
             <a href="{{ path('app_product') }}" class="btn btn--red btn-get-started " data-aos="fade-up" >Voir tous nos produits &rarr;</a>
        </div>
      </div>
    </section><!-- End Portfolio Section -->