  <!-- ======= Portfolio Section ======= -->
 <section id="products" class="portfolio">
      <div class="container">

        <div class="section-title">
         <h2>Produits les plus commandés</h2>
            <p></p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tous</li>
              <li  data-filter=".filter-printer"  >Imprimantes Evolis</li>
              <li  data-filter=".filter-printer-hp"  >Imprimantes HP</li>
              <li data-filter=".filter-access">Côntrole d'accès</li>
              <li data-filter=".filter-serrure">Serrure magnétique</li>
              <li data-filter=".filter-camera">Télephonie & Camera IP</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for product in data.products %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-printer" style="box-shadow: none!important;border-bottom: 1px solid #d0d1d8;border-top: 1px solid #d0d1d8;margin-left: 10px;border-radius: 8px;">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('profiles/'~product.picture) }}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>{{ product.name }}</h4>
                    <p style="font-size: 10px; text-align: center;">{{ product.smalldescription}}</p>
                      <a href="{{ asset('profiles/'~product.picture) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                <h1 style="font-size: 25px; text-align: center;"><small><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a></small></h1>
                <p style="font-size: 12px; text-align: center;"><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.smalldescription }}</a></p>
              </div>    
          {% endfor %}
           
        </div>
      <div class="u-center-text u-margin-top-small">
             <a href="{{ path('app_product') }}" class="btn btn--red btn-get-started " data-aos="fade-up" >Voir tous nos produits &rarr;</a>
        </div>
      </div>
    </section><!-- End Portfolio Section -->