<section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
         <h2>Nos Services</h2>
            <p>
              Outre Evolis, nous représentons et distribuons des produits fabriqués d'autres grandes entreprises au monde
            </p>
        </div>

        <div class="row">
          {% for service in data.services %}
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up-right" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4><a href="">{{ service.name }}</a></h4>
                    <p class="justify-text">{{ service.description|extractText(200) }}</p>
                </div>
              </div>
          {% endfor %}
          <!--
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up-right" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Système d’impression et solution des cartes hautement sécurisés</a></h4>
                <p class="justify-text">{{ "Nous développons des solutions de sécurisation d’une certaine valeur ajoutée des cartes plastiques telles que : badges d’identification, carte de fidélité, carte d’étudiant, titre de transport, cartes nationales d’identité, permis de conduire, d’assurance, bancaire et d’autres couplés avec des périphériques d’encodage biométrique sur la carte à puce."|extractText(200) }}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Système de contrôle d’accès et pointage des présences du personnel</a></h4>
              <p class="justify-text">{{"Nous mettons à la disposition des entreprises un système leur permettant de contrôler à distance le pointage des présences en temps réel du personnel ainsi que les mouvements d’entrés et sortis des personnes au sein de l’entreprise afin de produire un rapport rationnel dans le tableau de bord de présence."|extractText(200)}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up-left" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Vente des matérielles et consommables informatiques</a></h4>
              <p class="justify-text">{{"Spécialiste de fournitures de matériels informatique. Les gammes variées de nos matérielles et consommables informatiques sont revêtues d’une originalité incontestable."|extractText(200)}}</p>
            </div>
          </div>
          -->

        </div>

        <div class="u-center-text u-margin-top-small">
             <a href="{{ path('app_service') }}" class="btn btn--red btn-get-started " data-aos="fade-up" >Voir tous nos services &rarr;</a>
        </div>
      </div>
    </section>