{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block body %}
<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{ path('app_home') }}">Page d'accueil</a></li>
          <li>Produits</li>
        </ol>
        <h2>Nos Produits</h2>

      </div>
    </section><!-- End Breadcrumbs -->

     <!-- ======= Produits Section ======= -->
    <section id="produits" class="produits">
      <div class="container">

        <div class="row">
          

          {% for product in data %}
              <div class="col-lg-3 col-md-6 portfolio-item filter-printer">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 47vh" src="{{ asset('profiles/'~product.picture) }}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                      <a href="{{ asset('profiles/'~product.picture) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                <h1 style="font-size: 25px; text-align: center;"><small><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a></small></h1>
                <p style="font-size: 12px; text-align: center;"><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.smalldescription }}</a></p>
              </div>
              {% else %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-printer" >
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/1.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Imprimante Primacy 2</h4>
                    <p style="font-size: 10px; text-align: center;">Sa vitesse d’impression parmi les plus rapides dumarché, associée à son chargeur et réceptacle grande capacité, font de Primacy 2 la solution idéale pour vos impressions en moyennes ou grandes séries.</p>
                      <a href="{{ asset('assets/img/products/1.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                 </div> 
				   
				  <div class="col-lg-4 col-md-6 portfolio-item filter-printer" >
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/Agilia.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Imprimante Agilia</h4>
                    <p style="font-size: 10px; text-align: center;">La plus haute qualité d’impression, quelle que soit la carte. Une sécurité optimalepour toutes vos cartes.</p>
                      <a href="{{ asset('assets/img/products/Agilia.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                </div> 

				  <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/brochure.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Imprimante Badgy200</h4>
                    <p style="font-size: 10px; text-align: center;">Evolis présente la solution Badgy200, conçue pour vous permettre de réaliser vous-mêmes des badges en couleur de qualité professionnelle, en toute simplicité.</p>
                      <a href="{{ asset('assets/img/products/brochure.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
              </div> 

				  <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/Avansia.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Imprimante Avansia</h4>
                    <p style="font-size: 10px; text-align: center;">Avec Avansia, tous les designs de cartes sont permis. La technologie d’impression retransfert permet de couvrir toute la surface de la carte, sans aucune bordure.</p>
                      <a href="{{ asset('assets/img/products/Avansia.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
               </div>  

				  <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/Zenius.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Imprimante Zenius</h4>
                    <p style="font-size: 10px; text-align: center;">Résolument orientée utilisateur, Zenius est la solution compacte et économique pour l’émission de vos cartes personnalisées.</p>
                      <a href="{{ asset('assets/img/products/Zenius.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                </div>

				  <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/21.png') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Logiciel Cardpresso</h4>
                    <p style="font-size: 10px; text-align: center;">Les imprimantes Evolis Zenius, Primacy, Avansia et Quantum sont fournies avec une licence logicielle cardPresso, l’outil essentiel pour la création de vos cartes.</p>
                      <a href="{{ asset('assets/img/products/21.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                </div>

				  <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/20.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Tablettes de signature Evolis</h4>
                    <p style="font-size: 10px; text-align: center;">Les tablettes de signature électronique d’Evolis sont des outils innovants et pratiques permettant de signer numériquement des documents en toute sécurité.</p>
                      <a href="{{ asset('assets/img/products/20.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                 </div>

				  <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/22.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Printronix</h4>
                    <p style="font-size: 10px; text-align: center;">La technologie d’impression matricielle ligne reste le leader incontesté de la fiabilité. Capacité de fonctionner 24 h/24 et 7 j/7, MTBF record et moins d’intervention des utilisateurs.</p>
                      <a href="{{ asset('assets/img/products/22.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
               </div>

				  <div class="col-lg-4 col-md-6 portfolio-item filter-printer">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/11.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Imprimante HP LaserJet Pro</h4>
                    <p style="font-size: 10px; text-align: center;">Conçue pour de grands volumes, et à grande vitesse, elle est dotée des meilleures fonctions de sécurité de sa catégorie. Parfait pour le bureau.</p>
                      <a href="{{ asset('assets/img/products/11.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
               </div>

				  <div class="col-lg-4 col-md-6 portfolio-item filter-camera">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/13.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Camera – IP</h4>
                    <p style="font-size: 10px; text-align: center;">Haute résolution : offre une qualité d'image supérieure et une vidéo haute définition.</p>
                      <a href="{{ asset('assets/img/products/13.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
               </div>

				  <div class="col-lg-4 col-md-6 portfolio-item filter-access">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/14.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Controle d’accès « Suprema BioStation »</h4>
                    <p style="font-size: 10px; text-align: center;">Suprema BioStation est un terminal de contrôle d’accès et de temps/présence par lecture des empreintes digitales avancé. </p>
                      <a href="{{ asset('assets/img/products/14.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
                
              </div>

				  
				  <div class="col-lg-4 col-md-6 portfolio-item filter-serrure">
                <div class="portfolio-wrap">
                  <img style="width: 100%; height: 50vh" src="{{ asset('assets/img/products/Port0001.jpg') }}" class="img-fluid" alt="Imprimantes Evolis">
                  <div class="portfolio-info">
                    <div class="portfolio-links">
                    <h4>Cylindre de serrure</h4>
                    <p style="font-size: 10px; text-align: center;">Cylindre de serrure en cuivre pur de haute précision, plus sûr et fiable. Déverrouillage de carte RFID, carte IC a une haute sécurité. Avec 2 clés mécaniques, il peut être utilisé pour le déverrouillage d'urgence. </p>
                      <a href="{{ asset('assets/img/products/Port0001.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <!-- <a href="#" title="More Details"><i class="bx bx-link"></i></a>-->
                    </div>
                  </div>
                </div>
            
              </div>
          {% endfor %}

          

        </div>

      </div>
    </section><!-- End Services Section -->
{% endblock %}
