{% extends 'base.html.twig' %}

{% block title %}Slide index{% endblock %}

{% block body %}
    <h1>Slide index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>UrlButton</th>
                <th>TextButton</th>
                <th>Picture</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slide in slides %}
            <tr>
                <td>{{ slide.id }}</td>
                <td>{{ slide.title }}</td>
                <td>{{ slide.description }}</td>
                <td>{{ slide.urlButton }}</td>
                <td>{{ slide.textButton }}</td>
                <td>{{ slide.picture }}</td>
                <td>{{ slide.updatedAt ? slide.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_dashboard_slide_show', {'id': slide.id}) }}">show</a>
                    <a href="{{ path('app_dashboard_slide_edit', {'id': slide.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_slide_new') }}">Create new</a>
{% endblock %}
