{% extends 'base.html.twig' %}

{% block title %}Slide{% endblock %}

{% block body %}
    <h1>Slide</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slide.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ slide.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ slide.description }}</td>
            </tr>
            <tr>
                <th>UrlButton</th>
                <td>{{ slide.urlButton }}</td>
            </tr>
            <tr>
                <th>TextButton</th>
                <td>{{ slide.textButton }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ slide.picture }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ slide.updatedAt ? slide.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_slide_index') }}">back to list</a>

    <a href="{{ path('app_slide_edit', {'id': slide.id}) }}">edit</a>

    {{ include('slide/_delete_form.html.twig') }}
{% endblock %}
