{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>SmallDescription</th>
                <th>Picture</th>
                <th>UpdatedAt</th>
                <th>Description</th>
                <th>Price</th>
                <th>Brochure</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.smallDescription }}</td>
                <td>{{ product.picture }}</td>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.brochure }}</td>
                <td>{{ product.rating }}</td>
                <td>
                    <a href="{{ path('app_dashboard_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_dashboard_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_product_new') }}">Create new</a>
{% endblock %}
