{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ service.picture }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ service.updatedAt ? service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_service_index') }}">back to list</a>

    <a href="{{ path('app_dashboard_service_edit', {'id': service.id}) }}">edit</a>

    {{ include('dashboard/service/_delete_form.html.twig') }}
{% endblock %}
