{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Devis <b>#{{ devi.id }}</b></h1> <hr>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>N°</th>
                            <td>{{ devi.id }}</td>
                        </tr>
                        <tr>
                            <th>Reçu le </th>
                            <td>{{ devi.createdAt ? devi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Noms</th>
                            <td>{{ devi.name }} {{ devi.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ devi.email }}</td>
                        </tr>
                        <tr>
                            <th>Telephone</th>
                            <td>{{ devi.telephone }}</td>
                        </tr>
                        <tr>
                            <th>Entreprise</th>
                            <td>{{ devi.entreprise }}</td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td>{{ devi.website }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ devi.ville }}</td>
                        </tr>
                        <tr>
                            <th>Pays</th>
                            <td>{{ devi.pays.name }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ devi.description }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('app_dashboard_devis_index') }}" class="btn btn--red u-margin-bottom-small">Voir la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
