<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard::GP-SEC{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/ont.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        <!-- Favicons -->
        <link href="{{ asset('images/ont.png') }}" rel="icon">
        <link href="{{ asset('assets_dashboard/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto+Serif:wght@300;400;500;600;700&family=Sono:wght@400;600;700&display=swap" rel="stylesheet">


        <!-- Vendor CSS Files -->
        <link href="{{ asset('assets_dashboard/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets_dashboard/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('assets_dashboard/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets_dashboard/vendor/quill/quill.snow.css') }}" rel="stylesheet">
        <link href="{{ asset('assets_dashboard/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
        <link href="{{ asset('assets_dashboard/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{ asset('assets_dashboard/vendor/simple-datatables/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        
        <!-- Template Main CSS File -->
        <link href="{{ asset('assets_dashboard/css/style.css') }}" rel="stylesheet">        
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block select2 %}{% endblock %}        
        
    </head>
    <body>
        {% include "dashboard/partials/header.html.twig" %}
        {% include "dashboard/partials/sidebar.html.twig" %}

        <main id="main" class="main">
            {% include "dashboard/partials/message.html.twig" %}
            {% block body %}{% endblock %}            
        </main><!-- End #main -->
        {% include "dashboard/partials/footer.html.twig" %}
        <!-- Vendor JS Files -->
        <script src="{{ asset('assets_dashboard/vendor/apexcharts/apexcharts.min.js') }}"></script>
        <script src="{{ asset('assets_dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets_dashboard/vendor/chart.js/chart.min.js') }}"></script>
        <script src="{{ asset('assets_dashboard/vendor/echarts/echarts.min.js') }}"></script>
        <script src="{{ asset('assets_dashboard/vendor/quill/quill.min.js') }}"></script>
        <script src="{{ asset('assets_dashboard/vendor/simple-datatables/simple-datatables.js') }}"></script>
        <script src="{{ asset('assets_dashboard/vendor/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('assets_dashboard/vendor/php-email-form/validate.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        

        <!-- Template Main JS File -->
        <script src="{{ asset('assets_dashboard/js/main.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </body>
</html>
